@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #FF0000; /* Red */
  --color-secondary: #333333; /* Gray */
  --color-background: #000000; /* Black */
  --color-foreground: #FFFFFF; /* White */
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}
